<article class="recipe">
  <div class="recipe-info">
    <div class="card"
      style="background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(https://images.pexels.com/photos/952353/pexels-photo-952353.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
      <div class="card-content">
        <h1 class="title is-2 has-text-white">{{title}}</h1>
        <div class="content">
          <div class="media-content columns">
            <div class="column content is-half">
              <img class="box bg-theme"
                src="https://pj2-test-bucket.s3.us-west-1.amazonaws.com/{{photo_path}}">
            </div>
            <div class="content column is-auto">
              <p class="title is-4 box bg-theme" style="text-align:left;">{{#each ingredients}}{{this}}<br />{{/each}}</p>
            </div>
          </div>
          <p class="content title is-4 box bg-theme" style="text-align:left;">{{#each direction}}{{this}}<br />{{/each}}</p>
          <span class="box bg-theme" style="margin-left:20%; margin-right:20%;"> Express Hint <i class="far fa-lightbulb"></i>
            <p class="title is-4">{{#each express_hint}}{{this}}<br />{{/each}}</p>
          </span>
          <p class="subtitle is-6 has-text-white">Recipe by: {{user.username}} on {{format_date created_at}}</p>
        </div>
      </div>
      <div class="content">
        <br>
      </div>
    </div>
  </div>
  </div>
</article>