<article class="recipe">
  <div class="recipe-info">
    <a href="/recipe/{{id}}">{{photo_url}}</a>
    <span class="meta">    
      {{user.username}} on {{format_date created_at}}
      <a href="/recipe/{{id}}">{{rating.length}} {{format_plural "comment" rating.length}}</a>
    </span>
  </div>
</article>

